<div class="section">

<p>Usuario actual: {{currentUser.username}}</p>
    <div class="container">
    
     <h2>Agregar evento</h2>

    <form ng-submit="submit(event)">
        <div class="form-group">
            <label for="nombre">Nombre del evento:</label>
            <input type="text" class="form-control" id="nombre" ng-model="event.nombre">
        </div>
        <div class="form-group">
            <label for="direccion">Direccion:</label>
            <input type="text" class="form-control" id="direccion" ng-model="event.direccion">
        </div>
            <label for="fecha">Fecha:</label>
             <p class="input-group">
              <input type="text" ng-model="event.fecha" class="form-control"  id="fecha" datepicker-popup="{{format}}" is-open="opened" datepicker-options="dateOptions" close-text="Close" />
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        
        
        
         <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="double" class="form-control" id="precio" ng-model="event.precio">
        </div>
        
         <div class="form-group">
            <label for="descripcion">Descripcion:</label>
            <input type="text" class="form-control" id="descripcion" ng-model="event.descripcion">
        </div>
        
        
        <button type="submit" class="btn btn-default">Submit</button>
    </form>   
            
    </div>
</div>



